.sprite, .icon_next, .icon_previus, .icon_arrowRight, .icon_checked, .icon_facebook, .icon_faq, .icon_heart, .icon_home, .icon_linkedin, .icon_login, .icon_oQueE, .icon_planos, .icon_plus, .icon_twitter, .spr_bullet, .spr_check {
  background: url('/img/sprite-s75227e7215.png') no-repeat;
}

.icon_next {
  background-position: 0 -110px;
}

.icon_previus {
  background-position: 0 -206px;
}

.icon_arrowRight {
  background-position: 0 -626px;
}

.icon_checked {
  background-position: 0 -775px;
}

.icon_facebook {
  background-position: 0 -546px;
}

.icon_faq {
  background-position: 0 -910px;
}

.icon_heart {
  background-position: 0 0;
}

.icon_home {
  background-position: 0 -1114px;
}

.icon_linkedin {
  background-position: 0 -382px;
}

.icon_login {
  background-position: 0 -1046px;
}

.icon_oQueE {
  background-position: 0 -842px;
}

.icon_planos {
  background-position: 0 -1182px;
}

.icon_plus {
  background-position: 0 -978px;
}

.icon_twitter {
  background-position: 0 -302px;
}

.spr_bullet {
  background-position: 0 -705px;
}

.spr_check {
  background-position: 0 -462px;
}
